* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(img/topback.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 64px;
}

.top_catalog {
  height: 400px;
  background-image: url(img/catalog.jpeg);
}

.top__link:hover {
  color: rgb(136, 136, 136);
  transition: color 0.5s;
  text-decoration-line: none;
}

.header {
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header-form {
  position: absolute;
  top: 68px;
  right: 325px;
  background-color: white;
  padding: 40px 48px;
  z-index: 1;
  width: 573px;
  display: none;
}

.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  font-size: 16px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  font-family: inherit;
}

.header__input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-family: inherit;
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
  font-family: inherit;
}

.menu-mob {
  display: none;
}

.hidden {
  display: none;
}

#form-toggle:checked ~ .header-form {
  display: block;
}

#form-toggle1:checked ~ .filtering-form {
  display: block;
}

.list {
  list-style-type: none;
  display: flex;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 11px;
}

.list-column {
  flex-direction: column;
}

.list__link {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}

.list__link:hover {
  border-bottom: 1px solid rgb(25, 0, 255);
}

.list__link-block:hover .header-form {
  display: block;
}

.top__heading {
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: rgb(255, 255, 255);
  letter-spacing: 0%;
  text-align: left;
  max-width: 792px;
}

.top__text {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}

.top__link {
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item1 {
  background-image: url(img/for-1.jpeg);
}

.for__item2 {
  background-image: url(img/for-2.jpeg);
}

.for__item3 {
  background-image: url(img/for-3.jpeg);
}

.for__item4 {
  background-image: url(img/for-4.jpeg);
}

.for__item5 {
  background-image: url(img/for-5.jpeg);
}

.special {
  padding-top: 64.5px;
  margin-bottom: 64px;
}

.special__heading, .products__heading, .for-box__heading {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  text-align: left;
}

.special__content, .products__content {
  margin-top: 32.5px;
  display: flex;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}

.card {
  width: 378px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__img {
  width: 100%;
}

.card__product {
  margin-top: 10px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.card__description {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.card__box-price {
  display: flex;
  gap: 32px;
}

.card__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.card__price_old-price {
  text-decoration-line: line-through;
  color: #888888;
}

.icons {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  right: 10px;
  top: 10px;
  gap: 21px;
  cursor: pointer;
  display: none;
  transition: opacity 0.5s;
}

.card:hover .icons {
  display: block;
}

.products {
  margin-bottom: 64px;
}

.catalog {
  width: 157px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid white;
  margin-top: 31px;
}

.catalog__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.footer {
  background: rgb(247, 246, 246);
  display: flex;
  padding-top: 32px;
  padding-bottom: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__info {
  display: flex;
  gap: 129px;
}

.menu-footer {
  height: auto;
  width: auto;
  max-width: 100%;
  align-items: flex-start;
}

.footer__heading, .footer__contacts {
  margin-bottom: 12px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.footer__contacts-logo:hover {
  fill: rgb(0, 0, 0);
  transition: fill 0.5s;
}

.contacts__link {
  display: flex;
  flex-direction: column;
}

.footer__contacts-link_color {
  color: gray;
}

.contacts__logo {
  display: flex;
  justify-content: space-around;
}

.list__link-footer, .footer__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.footer__contacts-link {
  margin-bottom: 12px;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__updates {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.form__p {
  margin-bottom: 16px;
}

.form__email {
  width: 260px;
  height: 40px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #C4C4C4;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-bottom: 8px;
  padding-left: 17px;
  font-family: inherit;
}

.form__email::-moz-placeholder {
  color: rgb(196, 196, 196);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.form__email::placeholder {
  color: rgb(196, 196, 196);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.form__btn {
  color: rgb(0, 0, 0);
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  min-height: 40px;
  font-family: inherit;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  padding: 12px 93px 13px 85px;
  font-size: 12px;
}

.form__btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.catalog__link:hover {
  color: rgb(136, 136, 136);
  transition: color 0.5s;
  text-decoration-line: none;
}

.catalog-menu {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-menu__line {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.catalog-menu__main:hover {
  border-bottom: 1px solid rgb(25, 0, 255);
}

.catalog-menu__catalog:hover {
  border-bottom: 1px solid rgb(25, 0, 255);
}

.sorting {
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 40px;
  box-sizing: border-box;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.filter-sorting-button {
  border: 1px solid #000;
  border-radius: 20px;
  font: inherit;
  padding: 9px 54px 12px 23px;
  cursor: pointer;
  background-color: #fff;
}

.filter-sorting-button:hover .filtering-form {
  display: block;
}

.filter-button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.filter-button {
  font-weight: 500;
  text-align: start;
  width: 182px;
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='9' viewBox='0 0 18 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 9L0.339745 0.749998L17.6603 0.75L9 9Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.popularity {
  font-weight: 400;
}

.filtering-form {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
  display: none;
  z-index: 1;
}

.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  height: 548px;
  width: 540px;
}

.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  border: none;
}

.filtering-form__fieldset--type {
  padding-right: 40px;
}

.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.filtering-form__button {
  align-self: flex-end;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  float: right;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  margin-top: 36px;
  padding: 10px 47px 10px 47px;
}

.filtering-form__button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio__input {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.radio__input:checked + .radio__label::before {
  border-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}

.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.range__slider input {
  position: absolute;
}

.range__label {
  font-size: 14px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.checkbox__label--white::before {
  background-color: #fff;
  border-color: #808080;
}

.checkbox__label--black::before {
  background-color: #000;
  border-color: #000;
}

.checkbox__label--gray::before {
  background-color: #737373;
  border-color: #737373;
}

.checkbox__label--red::before {
  background-color: #f00;
  border-color: #f00;
}

.checkbox__label--orange::before {
  background-color: #ff4500;
  border-color: #ff4500;
}

.checkbox__label--yellow::before {
  background-color: #ff0;
  border-color: #ff0;
}

.checkbox__label--green::before {
  background-color: #008000;
  border-color: #008000;
}

.checkbox__label--teal::before {
  background-color: #40e0d0;
  border-color: #40e0d0;
}

.checkbox__label--light-blue::before {
  background-color: #009fe3;
  border-color: #009fe3;
}

.checkbox__label--blue::before {
  background-color: #00f;
  border-color: #00f;
}

.checkbox__label--purple::before {
  background-color: #800080;
  border-color: #800080;
}

.checkbox__label--violet::before {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.checkbox__label--lavender::before {
  background-color: #d89aff;
  border-color: #d89aff;
}

.checkbox__label--pink::before {
  background-color: #ff1493;
  border-color: #ff1493;
}

.checkbox__input:checked + .checkbox__label--black::before,
.checkbox__input:checked + .checkbox__label--blue::before,
.checkbox__input:checked + .checkbox__label--purple::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='white'/%3E%3C/svg%3E%0A");
}

.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heading-big {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 127px;
}

.header__form {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart-name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  padding-right: 34px;
}
.cart-volume {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.cart-content-items {
  display: flex;
  row-gap: 32px;
  flex-direction: column;
}
.cart-item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-item_show {
  border-top: none;
  padding: 0px;
}
.cart-description {
  color: rgb(136, 136, 136);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.cart-price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.cart-left {
  display: flex;
  gap: 32px;
}
.cart-info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart-link-box {
  display: flex;
  gap: 30px;
}
.cart-link {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
}
.cart-number-box {
  width: 71px;
  height: 51px;
  background: rgb(247, 246, 246);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-family: Poppins;
}
.cart-number {
  font-family: inherit;
  background: inherit;
  text-align: center;
  width: 45px;
  height: 27px;
  border: none;
}
.cart-number-arrows {
  display: flex;
  flex-direction: column-reverse;
  gap: 14px;
  padding-right: 20px;
  pointer-events: auto;
  pointer-events: none;
}
.cart-navigation_show {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
}
.cart__shop {
  display: flex;
  gap: 7px;
  margin-top: 50px;
}
.cart__shop-btn {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  height: 37px;
  width: 200px;
  background-color: inherit;
  font-family: inherit;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.cart__shop-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
  padding-left: 44px;
  padding-right: 44px;
}
.cart__title {
  margin-top: 42px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart-btn {
  margin-top: 18px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.cart-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.cart-button {
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0px;
  padding: 10px 35px;
  background-color: inherit;
  cursor: pointer;
}
.cart-button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.cart-content {
  grid-column: span 8;
}
.cart__personal {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  margin: 35px 20px 64px -17px;
}
.cart__name {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  background-color: inherit;
  font-family: inherit;
}
.cart__name::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__name::placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.cart-total {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__total-price {
  font-weight: 400;
}
.cart-btn {
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  height: 41px;
  border-radius: 20px;
  width: 290px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  height: 0;
  opacity: 0;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .special__content, .products__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .cart-content {
    grid-column: span 12;
  }
  .cart__form {
    grid-column: span 7;
  }
  .filtering-form {
    right: -235px;
  }
  .header-form {
    right: 118px;
    display: none;
  }
  #form-toggle:checked ~ .header-form {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 43px;
    padding-right: 44px;
  }
  .card {
    width: 345px;
  }
  .header-form {
    right: 44px;
  }
}
@media (min-width: 834px) and (max-width: 1023px) {
  .header-form {
    right: 118px;
  }
}
@media (max-width: 767px) {
  .icons {
    top: 20px;
    right: 50px;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    width: 100%;
  }
  .header {
    border-bottom: green;
    padding-top: 32px;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__heading {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top__text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__link {
    font-size: 14px;
  }
  .cart {
    margin-top: 92px;
  }
  .cart-name-box {
    display: none;
  }
  .cart-img {
    display: none;
  }
  .cart__form {
    grid-column: span 12;
    margin-top: 48px;
  }
  .cart__btn {
    padding-left: 26px;
    padding-right: 26px;
  }
  .heading-big {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 82px;
  }
  .for-box__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .products__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .special__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .footer {
    padding-bottom: 32px;
    row-gap: 70px;
  }
  .footer__content {
    justify-content: center;
    gap: 34px;
  }
  .footer__info {
    gap: 100px;
  }
  .sort {
    margin-top: 14px;
  }
  .catalog-menu {
    flex-direction: column;
  }
  .filtering-form {
    top: 50px;
    right: -101px;
  }
  .filtering-form__content-wrapper {
    flex-wrap: nowrap;
    height: 841px;
    width: 190px;
  }
  .filtering-form__fieldset--type {
    padding-right: 0;
  }
  .sorting-filter {
    order: 2;
  }
  .card__product {
    font-size: 18px;
  }
  .card__price {
    font-size: 18px;
  }
  .card__img {
    width: 343px;
    height: 226px;
  }
}
@media (min-width: 395px) and (max-width: 599px) {
  .footer {
    justify-content: space-around;
  }
}
@media (max-width: 395px) {
  .icons {
    top: 20px;
    right: 15px;
  }
}/*# sourceMappingURL=style.css.map */